.list-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height:1000px; 
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

.list-product h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.listproduct-format-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr auto;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    align-items: center;
    font-size: 20px;
}

.listproduct-format-main p {
    margin: 0;
}

.listproduct-format-main img {
    max-width: 30%;
    height: auto;
}

.listproduct-remove-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.listproduct-remove-icon:hover {
    transform: scale(1.1);
}

.listproduct-remove-icon:focus {
    outline: none; 
}

.listproduct-remove-icon img {
    width: 100%;
    height: 100%;
}

.listproduct-remove-icon img:hover {
    filter: brightness(0.8); 
}
.oldprice{
    text-decoration: line-through;
}
